/* เรียก Tailwind Base */
@tailwind base;

/* เรียก Tailwind Components */
@tailwind components;

/* เรียก Tailwind Utilities */
@tailwind utilities;

/* ถ้าคุณต้องการเพิ่ม Custom CSS */
body {
  font-family: "Prompt", sans-serif; /* ใช้ฟอนต์ไทย */
  background-color: #f9fafb; /* สีพื้นหลัง */
}

button {
  transition: all 0.3s ease; /* เพิ่ม Transition ให้ปุ่ม */
}
